.startButton {
	font-size: 16px;
	background-color: transparent;
	font-weight: 800;
	border: 2px solid hsla(0, 0%, 100%, 0.5) !important;
	color: white;
	border-radius: 3.25vw;
	padding: 8px 30px;
	transition: transform 0.2s ease-in-out;
	cursor: pointer;
	z-index: 100;
	width: 23vh;
}

.startButton:hover {
	transform: translateY(-4px);
}
