<!DOCTYPE html>
<html lang="en" dir="ltr">
<html lang="ko" dir="ltr">
<head>
	<meta charset="UTF-8">
	<title>RCV</title>
	<link rel="stylesheet" type="text/css" href="/fonts/iconfont/material-design-icons.css">
	<link rel="stylesheet" type="text/css" href="/style.css">

	<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
	<link rel="manifest" href="/icons/site.webmanifest">
	<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/icons/favicon.ico">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-config" content="/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<div class="dialog">
		<div id="newProjectDialog">
			<div class="modal">
				<h2>RCV 로드중...</h2>
				<div>
					<div class="loader"></div><br>
					응용 프로그램이 로드되지 않으면 다음 사항을 확인해주세요:<br>
					1. JavaScript를 활성화했는지<br>
					2. 최신 브라우저를 쓰고 있는지<br>
					3. 인터넷 연결이 되어 있는지
				</div>
			</div>
			</div>
		</div>
	<script src="/main.js" async></script>
</body>
</html>
