.header {
	display: flex;
	height: 5em;
	width: 100%;
	margin-bottom: 3em;
	padding: 0.5em 1em;
	background-color: #303030;
	align-items: center;
}

.logoImage {
	height: 3em;
}

.logo {
	margin-left: 0.5em;
}

.container {
	margin-left: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
