.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 5em;
}

.featureImage {
  height: 14vh;
  filter: invert(100%) sepia(3%) saturate(3%) hue-rotate(348deg)
    brightness(105%) contrast(100%);
  margin-bottom: 3em;
}

.feature {
  font-size: 1.7rem;
  margin-bottom: 1.5em;
  text-align: center;
}

.featureContent {
  background-color: #161616;
  color: white;
  margin-bottom: 10em;
  font-size: 1.15rem;
}
